---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello!</h1>
			<p>
				Welcome to my official devblog, for starters I am an undergrad English Honours student with a background
				in programming, tech, research, finance and debates/public speaking. I started this blog to document my coding
				journey: documenting code, talk about my building process, lessons learnt and braincells lost.
				<br>
				<i>Maybe the real Google Summer of Code internship was the buggy code messes I built along the way.</i>
			</p>
			<p>
				<b>My basic background:</b>
				<li>Currently pursuing English Honours degree, Delhi University</li>
				<li>20 years old based out of New Delhi, India</li>
				<li>Interested in open source development, Content writing, Documentation Engineering</li>
				<li>Proficiency in Python and Javascript Development</li>
				<li>strong expertise in research, prompt engineering, English proficiency, writing documentation, business communication</li>
			</p>
			<b>My projects:</b>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
